<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<title>Entry Seite</title>
	<meta charset="utf-8"/>
	<meta name="author" content="Ennin Samuel"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="styles.css"/>
</h:head> 
<body> 
	<h:form>
		<h:message />
		<h3><h:outputText value="Welcome #{logB.logName} to the JSF Guestbook"/></h3>
		<!-- Problem mit entry -> Gibt var 'message' nicht aus unter datatable 'Entry' -->
		<div style="overflow: auto; width: 100%; height: 200%;">
			<h:dataTable value="#{gbb.entries}" var="entr" headerClass="entryHeader" columnClasses="entry,entryDate" rowClasses="row1,row2">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Entry" />
					</f:facet>
					<h:outputText value="#{entr.message}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Date" />
					</f:facet>
					<h:outputText value="#{entr.dateString}" />
				</h:column>
			</h:dataTable>
		</div>
		<br/>
		<h:panelGrid columns="2">
			<h:outputText value="new Entry: "/>
			<h:inputTextarea name="taMessage" value="#{gbb.entry.message}" required="true" escape="true"></h:inputTextarea>
		</h:panelGrid>
		<h:commandButton value="Send" action="#{gbb.newEntry}"/>
		<h:commandButton value="cancel" type="reset"/>
	</h:form>
</body> 
</html>
