<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>Guestbook</title>
    <meta charset="utf-8"/>
	<meta name="author" content="Ennin Samuel"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="styles.css"/>
</h:head>
<h:body >   
<!-- <h:messages style = "color:green; margin:8px;" /> 
	<h1 onmouseover="style.color = 'blue'"><h:outputText value="Bitte melden Sie sich korrekt an"/></h1>
	<h2><h:outputText value="#{gbb.welcome}" /></h2> -->  
     <h:form>
     	<h:panelGrid columns="4">
     		<h:outputText value="Delete" />
			<h:outputText value="From" />
			<h:outputText value="Date" />
			<h:outputText value="Guestbook Entry" />
			
			<h:outputText value="Delete" />
			<h:outputText value="#{logB.logName}" />
			<h:outputText value="#{logB.date}" />
			<h:outputText value="null" />

		</h:panelGrid>
		<h2>All Guestbook entries</h2>
     	<div style="overflow: auto; width: 100%; height: 200%;">
			<h:dataTable value="#{gbb.entries}" var="entr" headerClass="entryHeader" columnClasses="entry,entryDate" rowClasses="row1,row2">
				<h:column>
					<f:facet name="header">
						<h:outputText value="From" />
					</f:facet>
					<h:outputText value="#{logB.logName}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Entry" />
					</f:facet>
					<h:outputText value="#{entr.message}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Date" />
					</f:facet>
					<h:outputText value="#{entr.dateString}" />
				</h:column>
			</h:dataTable>
		</div>
		<h:commandButton value="login" action="#{gbb.newEntry}"/>
		<h:commandButton value="cancel" type="reset"/>
    </h:form>    
</h:body>
</html>