<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>Anmeldeseite</title>
    <meta charset="utf-8"/>
	<meta name="author" content="Ennin Samuel"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="styles.css"/>
</h:head>
<h:body >  
	<h:form>
		<h:dataTable>
			<h:column>
				<f:facet name = "header">Date</f:facet>  
			</h:column>
		</h:dataTable>
		<h:outputText value="#{logB.err}" />
		<h:panelGrid columns="2">
     		<h:outputText value="Login Name is: " />
			<h:outputText value="#{logB.logName}" />
			<h:outputText value="Password is: " />
			<h:outputText value="#{logB.pw}" />
		</h:panelGrid>
     	<h1><h:outputText value="JSF Login"/></h1>
     	<h3><h:outputText value="#{logB.err}"/></h3>
    	 <h:panelGrid columns="2">
    	 	Login Name
    	 	<h:inputText id="logName" name="logName" value="#{logB.logName}" escape="true"/>
    	 	Password
    	 	<h:inputSecret id="pw" name="pw" value="#{logB.pw}" escape="true"/>
    	 </h:panelGrid>
		
		<h:commandButton value="Login" action="entry"/>
		<h:commandButton value="submit" action="entry"/>
		<h:commandButton value="cancel" type="reset"/>
    </h:form>    
</h:body>
</html>